html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




a {
    transition: 0.25s
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}



.decore__text {
    background: linear-gradient(90.7deg, #E30611 5.34%, #000000 117.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home__view__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.35rem;
    line-height: 0.98;
    margin-bottom: 2.2rem;
}

body {
    font-family: 'MTS Wide', sans-serif;
    font-size: 16px;
    background: #fff;
}

html {
    font-size: 3vw;
}


.bot__view {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px 44px;
    overflow: hidden;
}

.btn_red {
    background: #E30611;
    border-radius: 8px;
    color: #fff;

    &:hover {
        background: #d40610;
    }
}

.btn_x {
    font-family: 'MTS Compact';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 1.55rem;
    padding: 1.4rem 1rem 1.5rem;
    font-weight: 500;
}



// home


.home__view__logo {
    display: flex;
    position: absolute;
    width: 5rem;
    z-index: 1;
    top: 0.75rem;
}

.home__view__inner {
    position: relative;
}

.home__view__logo img {
    width: 100%;
}

.home__view__image {
    font-size: 0;
    margin-top: -1.5rem;
    margin-bottom: 0.75rem;
}

.home__view__image img {
    width: 100%;
    transform: scale(1.125)
}

.home__view__info {
    position: relative;
    z-index: 1;
    margin-top: -0.25rem;
}


.top__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 1.95rem;
}

.back__link img {
    width: 100%;
}

.back__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    width: 2rem;
    padding: 2.5px;
}

.home__link {
    display: flex;
    min-width: 32px;
    justify-content: center;
    align-items: center;
    width: 2rem;
    padding: 2.5px;
}

.home__link img {
    width: 100%;
}

.home__link:hover {
    opacity: 0.5;
}

.back__link:hover {
    opacity: 0.5;
}

.title_x {
    font-weight: 500;
    font-size: 3.05rem;
    line-height: 0.975;
    margin-bottom: 3.25rem;
    padding-top: 0.2rem;
}

.projects__view__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem 1.425rem;
    margin-bottom: 3rem;
}

.projects__view__item {
    width: calc(33.3333333333% - 0.95rem);
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.projects__view__item:hover {
    transform: scale(1.025);
}

.projects__view__item__image img {
    width: 100%;
}

.projects__view__item__image {
    font-size: 0;
}

.projects__view__item__text {
    margin-top: 0.85rem;
    font-size: 1.125rem;
    font-family: 'MTS Text';
}


.thanks_block__image {
    position: absolute;
    right: -20px;
    top: -8px;
    z-index: -1;
}

.thanks_block {
    position: relative;
    margin-bottom: 15rem;
}

.text_thanks {
    font-size: 1.475rem;
    max-width: 20rem;
    line-height: 1.425;
}

.title_x--thanks {
    margin-bottom: 2.25rem;
}


.field_x input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1.55rem 1.25rem;
    font-size: 1.45rem;
}

.form_send_resume form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.field_x select {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1.45rem 1.25rem;
    font-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.01246 0C0.112259 4.76837e-07 -0.338563 1.07659 0.297975 1.70623C0.297975 1.70623 0.297975 1.70623 0.297975 1.70623L3.4273 4.80165C5.58289 6.93388 6.66069 8 8.00001 8C9.33932 8 10.4171 6.93388 12.5727 4.80164L15.702 1.70623C16.3386 1.07659 15.8877 0 14.9875 0C14.7196 0 14.4625 0.105304 14.2731 0.292744L11.1437 3.38815C10.0255 4.49423 9.32762 5.17859 8.75443 5.61118C8.23709 6.00162 8.05648 6.00117 8.00276 6.00103L8.00001 6.00103L7.99725 6.00103C7.94353 6.00117 7.76292 6.00162 7.24558 5.61118C6.67239 5.1786 5.97446 4.49423 4.85627 3.38816L1.72695 0.292743C1.72695 0.292743 1.72695 0.292743 1.72695 0.292743C1.53745 0.105303 1.28044 4.76837e-07 1.01246 0Z' fill='%23969FA8'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 31px) 50%;
    background-repeat: no-repeat;
    background-size: auto 17%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    color: inherit;
}

.field_x--submit {
    margin-top: 1.25rem;
}


.project__top {
    display: flex;
    align-items: center;
    margin-top: 2.25rem;
    margin-bottom: 3rem;
}

.project__top .title_x {
    margin: 0;
    flex: 1;
    line-height: 1.05;
    margin-top: -7px;
}

.project__top img {
    width: 6.25rem;
    margin-right: 1.7rem;
}

.default__text {
    font-size: 1.5rem;
    line-height: 1.25;
    color: #1D2023;
    font-family: "MTS Text";
}

.default__text p {
    margin-bottom: 2rem;
}

p.paragraph__title {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1;
    margin-bottom: 2rem;
    font-family: 'MTS Wide';
    max-width: 240px;
}

.default__text>*:last-child {
    margin-bottom: 0;
}

.project__text {
    margin-bottom: 3.225rem;
    margin-top: -1rem;
}

.project__images {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
    margin-bottom: 2.5rem;
}

.btn_gray {
    background: #F2F3F7;
}

.btn__bottom__block {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.btn_gray:hover {
    background: #000000;
    color: #fff;
}

.default__text b {
    font-weight: 500;
}

.text__image__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3.35rem
}

.text__item__info {
    flex: 1;
    margin-left: 1.45rem;
}

.text__image__item__icon {
    width: 5.2rem;
    margin-left: -0.5rem;
}

.text__item__title {
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: -0.35rem;
    margin-bottom: 0.7rem;
    line-height: 1;
}

.paragraph__title.paragraph__title--full {
    max-width: 100%;
}

.text__item__text {
    font-size: 1.45rem;
    line-height: 1.25;
    max-width: 23rem;
    font-family: 'MTS Text';
    color: #1D2023;
}

.text__image__item:last-child {
    margin-bottom: 0;
}

.text__image__list {
    margin-bottom: 3.5rem;
}

.team__item__image {
    display: flex;
    width: 11.45rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.55rem;
}

.team__item__top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.team__item__btns {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}


.team__item__name {
    font-weight: 500;
    font-size: 1.65rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

.team__item__info {
    flex: 1;
    padding-top: 1.95rem;
}

.team__item__pos {
    font-family: 'MTS Text';
    font-weight: 500;
    font-size: 1.05rem;
    color: #969fa8;
}

.team__item {
    border-bottom: 1px solid rgba(188, 195, 208, 0.5);
    padding: 1.95rem 0 2rem;
}

.btn_x_1 {
    font-size: 1.05rem;
    flex: 1;
    padding: 1.15rem 1rem 1.15rem;
}

.btn_x_2 {
    flex-basis: 26.5%;
}

// .team__item:last-child {
//     border: none;
// }

.man__view__image {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    max-width: 18.875rem;
    margin: -3rem auto 2.65rem;
    cursor: pointer;
    position: relative;
}

.man__view__image:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_8_647)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.1985 11.0408C17.3195 10.3185 15.9239 9.48702 13.824 8.22705L12.0575 7.16717C9.98506 5.92371 8.62575 5.11405 7.59818 4.6879C7.10374 4.48284 6.81174 4.42262 6.65132 4.41232C6.54245 4.40533 6.51878 4.42089 6.50953 4.42697L6.5073 4.42838L6.50495 4.42956C6.49497 4.43437 6.46946 4.44666 6.41944 4.54361C6.34573 4.68647 6.24714 4.96784 6.16858 5.49732C6.00533 6.59771 6 8.1803 6 10.5971L6 13.4029C6 15.8197 6.00533 17.4023 6.16858 18.5027C6.24714 19.0322 6.34573 19.3135 6.41944 19.4564C6.46946 19.5534 6.49497 19.5656 6.50495 19.5705L6.5073 19.5716L6.50953 19.573C6.51878 19.5791 6.54244 19.5947 6.65132 19.5877C6.81174 19.5774 7.10374 19.5172 7.59818 19.3121C8.62575 18.886 9.98506 18.0763 12.0575 16.8329L13.824 15.773C15.9239 14.513 17.3195 13.6815 18.1985 12.9592C19.0372 12.27 19.0023 12.0169 19.0001 12.0008V11.9992C19.0023 11.9832 19.0372 11.7301 18.1985 11.0408ZM21 12C21 10.1882 18.9376 8.96282 14.8529 6.51206L13.0865 5.45218C9.0577 3.03492 7.0438 1.82629 5.5219 2.68798C4 3.54966 4 5.89882 4 10.5971V13.4029C4 18.1012 4 20.4504 5.5219 21.312C7.0438 22.1737 9.0577 20.9651 13.0865 18.5478L14.8529 17.488C18.9376 15.0372 21 13.8118 21 12Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_8_647'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-size: 25%;
    opacity: 0.5;
    transition: 0.25s;
    cursor: pointer;
}

.man__view__image:hover:before {
    opacity: 1;
}

.man__view__image img {
    width: 100%;
    height: 100%;
}

.man__view__info {
    text-align: center;
}

.man__view__title {
    font-weight: 500;
    font-size: 2.275rem;
    line-height: 0.9;
    max-width: 30rem;
    margin: 0 auto 1.7rem;
}

.man__view__text {
    font-size: 1.3rem;
    max-width: 20rem;
    margin: 0 auto;
    line-height: 1.3;
    margin-bottom: 2.8rem;
    font-family: "MTS Text";
}

.man__view__main {
    margin-bottom: 2rem;
}

.man__list__info {
    display: flex;
    flex-wrap: wrap;
    gap: 1.275rem;
}

.man__info__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 0.85rem);
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.man__info__item__image img {
    width: 100%;
}

.man__info__item__image {
    border-radius: 34px;
    overflow: hidden;
    display: flex;
    margin-bottom: 0.75rem;
    transition: 0.25s;
}

.man__info__item__text {
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 1.15;
}

.man__view__btn {
    font-size: 1.565rem;
}


.man__info__item:hover .man__info__item__image {
    transform: scale(1.05);
}

.field_x--submiit {
    margin-top: 1.6rem;
}

.field_x__for_file {
    position: relative;
    overflow: hidden;
}

.field_x__file {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 4.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    opacity: 0.35;
}

.field_x__file input {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
}

.field_x__file svg {
    width: 2.15rem;
    height: auto;
}

.field_x__file:hover {
    opacity: 1;
}

.video_modal {
    position: absolute;
    width: 19rem;
    height: 19rem;
    display: flex;
    transition: .25s;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    margin: auto;
    top: 38px;
}

.video_modal__close {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 64 64' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='m4.59 59.41a2 2 0 0 0 2.83 0l24.58-24.58 24.59 24.58a2 2 0 0 0 2.83-2.83l-24.59-24.58 24.58-24.59a2 2 0 0 0 -2.83-2.83l-24.58 24.59-24.59-24.58a2 2 0 0 0 -2.82 2.82l24.58 24.59-24.58 24.59a2 2 0 0 0 0 2.82z' fill='%23000000' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 65%;
    z-index: 1;
    cursor: pointer;
}

.video_modal__close:hover {
    opacity: 0.7;
}

.video_modal__content {
    display: flex;
    height: 100%;
    width: 100%;
}

.video_modal__content__inner {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}

.video_modal__content__inner video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%
}

.video_modal.hide {
    opacity: 0;
    transform: translate(0, 100%);
}

input.field_file_xx {
    padding-right: 4rem;
}

.home__view {
    margin: -10px 0 0;
}

.default__text ol,
.default__text ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.default__text li {
    margin-bottom: 1.15rem;
}

.default__text li:last-child {
    margin-bottom: 0;
}

.form_send_resume {
    font-family: 'MTS Compact';
}

.team__list_page__bottom__text {
    font-family: 'MTS Text';
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
    font-weight: 500;
    line-height: 1.25;
}

.team__list_page__bottom {
    margin-top: 1.4rem;
}

.man__list__info--home {
    margin-top: 2.5rem;
}

@media screen and (min-width:500px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width:400px) {
    .video_modal {
        top: 40px;
    }
}